@charset "UTF-8";


body{
    margin: 0px;
}
header{
    margin: 20px 30px;
}

nav{
    position: absolute;
    right: 30px;
    top:6%;
}

nav>a{
    color: black;
    text-decoration: none;
}

nav>a:hover{
    color: green;
    text-decoration: none;
}

#keyboardimg-bckg{
   text-align: center;
   background-color:rgb(228, 243, 248);
   margin: 0px;
   padding: 0px;
   padding: 10px 0px;
}

#webdev{
    margin: 30px;
}
#webdev>h1{
    text-align: center;
}

#webdev>p{
    text-align:justify;
}

.copyright{
    display: block;
    text-align: center;
}